header{
    background-color: rgb(207, 110, 72);
    color: white;
    display: flex;
    align-items: center;
    height: 100px;
}

h1{
    font-size: 20px;
}

ul{
    display: flex;
    flex-direction: row;
    gap: 25px;
}